
.footer__block {
  background-color: $main-color;
  margin-top: auto;
}

.footer {
  color: #fff;
  @include displayflx(column, space-between);
  @include font($font-family, normal, normal, 1rem);
}

@include media-breakpoint-up(sm) {
  .footer {
    @include displayflx(row, space-between);
  }
}
