
.footer__block {
  background-color: $main-color;
  margin-top: auto;
  
  /*
  width: 100%;
  height: 80px;
  position: relative;
  bottom: 0;
  left: 0;

  & > .container {
    padding-bottom: 0;
  }
  */
}

.footer {
  color: #fff;

  @include displayflx(column, space-between);
  @include font($font-family, normal, normal, 1rem);
}

@include media-breakpoint-up(sm) {
  .footer {
    @include displayflx(row, space-between);
  }
}
