html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.container__groups {
  @include displayflx(column, space-between);
}

@include media-breakpoint-up(sm) {
  .container__groups {
    @include displayflx(row, space-between);
  }

  .card-img-top {
    max-width: 100%;
  }
}
