.wrapper {
  & > .container {
    padding-bottom: 15px;
  }
}

.header {
  & > .header__item {
    @include displayflx(row, center);
  }

  &__item__nav {
    & > .header__nav {
      width: 100%;

      @include displayflx(row, space-between);
      
      & > .nav__item {
        padding: 15px 15px;
        color: $main-color;
      }

      & > .nav__item--style {
        @include font($font-family, 400, normal, 0.8rem);
        color: $main-color;
      }
    }
  }
}

.header__logo--size {
  width: 100px;
}

@include media-breakpoint-up(sm) {
  .header {
    @include displayflx(row, space-between);
  }

  .nav__item--style {
    @include font($font-family, 700, bold, 7rem);
  }
}
