.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.poster {
  flex: 1;
  font-family: $font-family-groups;
}

@supports(display:grid) {
  .poster {
    display: grid;
    //grid-template-columns: 2fr 4fr 2fr;
    //grid-template-rows: repeat(8, 2fr);
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-template-rows: 25% 100px auto;
  }
}
