.wrapper {
  display: flex;
  max-height: 100vh;
  flex-direction: column;
}

.poster {
  flex: 1;
  font-family: $font-family-groups;
}

.block__festival__date {
  @include displayflx(row , space-between);
}

.festival__place--style {
  @include font($font-family, 400, normal, 1rem);
}

.block__festival__name {
  @include font($font-family, 700, normal, 2rem);
  padding-top: 1rem;
  text-align: center;
}
 
.block__festival__groups {
  @include displayflx(column , null);
  padding-top: .5rem;
  margin: auto;
}

.festival__group--style {
  @include font($font-family-groups, 700, bold, 2.5rem);
  padding-top: 1rem;
  text-transform: uppercase;
}

.block__festival__timetable {
  padding-top: 1.5rem;
}

.block__hidden__mobile {
  display: none;
}

.font__awesome--style {
  margin-right: 5px;
}

.festival__group__ska > p {
  @include rotate(#f00, -5deg);
}

.festival__group__toots > p {
  @include rotate(#008f39, 2deg);
}

.festival__group__lauren > p {
  @include rotate(#ff0, -3deg);
}

@include media-breakpoint-up(sm) {
  .festival__place--style {
    @include font($font-family, 700, bold, 1.5rem);
  }
  .festival__name--style {
    @include font($font-family, 900, bold, 3rem);
    text-align: center;
    text-transform: uppercase;
    margin: auto;
  }
  .block__festival__groups {
    @include displayflx(column , null);
    padding-top: 1rem;
    margin: auto;
  }
  .festival__group--style {
    @include font($font-family-groups, 900, bold, 3rem);
    padding-top: 25px;
    text-transform: uppercase;
  }
  .block__festival__timetable {
    @include displayflx(row , space-between);
  }
  .block__hidden__desktop {
    display: none;
  }
  .font__awesome--style {
    margin-right: 30px;
  }
}

@supports (display:grid) {
  .poster {
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2];
    grid-template-rows: [y0] .3fr [y1] .5 fr [y2] 1fr [y3] .2fr [y4];
  }
  .block__festival__date {
    grid-column: x0 / x2;
  }
  .block__festival__name {
    grid-column: x0 / x2;
  }
  .block__festival__groups {
    grid-column: x0 / x2;
  }
  .block__festival__timetable {
    @extend .block__festival__date;
  }

  @include media-breakpoint-up(sm) {
    .poster {
      grid-template-columns: [x0] 3fr [x1] 6fr [x2] 3fr [x3];
      grid-template-rows: [y0] .3fr [y1] .5fr [y2] 1fr [y3] .3fr [y4];
    }
    .block__festival__date {
      grid-column: x0 / x3;
    }
    .block__festival__name {
      margin: auto;
      grid-column: x0 / x3;
    }
    .block__festival__groups {
      grid-column: x0 /x3;
    }
    .festival__group--style {
      @include font($font-family-groups, 900, bold, 3rem);
    }
    .block__festival__timetable {
      grid-column: x0 / x3;
    }
  }
}
