
@mixin layout {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

@mixin displayflx($flow, $justify) {
  display: flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: center;
}

@mixin font($type-family, $font-weight, $font-style, $font-size) {
  font-family: $type-family;
  font-weight: $font-weight;
  font-style: $font-style;
  font-size: $font-size;
}

@mixin rotate($color, $degree) {
  background-color: $color;
  margin-bottom: 0;
  padding: 0 10px;
  transform: rotate($degree);
}
