@mixin mainlayout {
  html,
  body {
    height: 100%;
  }

  .wrapper {
    min-height: 100%;
    position: relative;
  }

  .container {
    padding-bottom: 80px;
  }
}

@mixin layout {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

@mixin displayflx($flow, $justify) {
  display: flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: center;
}

@mixin font($type-family, $font-weight, $font-style, $font-size) {
  font-family: $type-family;
  font-weight: $font-weight;
  font-style: $font-style;
  font-size: $font-size;
}
