@use "sass:color";

$font-family: "Montserrat", sans-serif;
$font-family-groups: "Big Shoulders Stencil Display", cursive;

/* colors */
$main-color: #333;
$secondary-color: #fff;

/* framework */
$theme-colors: (
  "primary": #ff0
);

$border-radius: .2rem;
$breadcrumb-divider: quote(">");
$breadcrumb-bg: $main-color;
$breadcrumb-active-color: $secondary-color;
$link-hover-decoration: none;
