@use "sass:color";

$font-family: 'Montserrat', sans-serif;
$font-family-groups: 'Big Shoulders Stencil Text', cursive;

/* colors */
$main-color: #333;
$secondary-color: #fff;

/* framework */
$theme-colors: (
  "primary": #ff0
);

$border-radius: 1.5rem;
